.navbar-brand {
  padding-left: 18.5px;
  padding-right: 18.5px;
}
.navbar-nav .nav-item > .nav-link {
  line-height: 75px;
  position: relative;
  padding: 0px 15px;
  font-size: 14px;
  color: #4c4c4c;
  font-weight: bold;
}

.navbar-nav .nav-item > .btn {
  min-width: 160px;
}
@media (max-width: 1300px) {
  .navbar-nav .nav-item > .btn {
    min-width: auto !important;
  }
}
.mwd-185 {
  min-width: 185px !important;
}
.top-nav-dropdown {
  top: calc(100% + 4px) !important;
  min-width: 330px !important;
  border: 1px solid #434345 !important;
  border-radius: 4px !important;
}
@media (min-width: 992px) {
  .top-nav-dropdown {
    left: 50px !important;
  }
}
.top-nav-dropdown::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 21px;
  border-left: 1px solid #434345;
  border-top: 1px solid #434345;
  transform: rotate(45deg);
  top: -11px;
  left: 20px;
  background-color: white;
}
.top-nav-dropdown .dropdown-item:last-child {
  margin-bottom: 0px !important;
}
.dropdown-item {
  color: #4c4c4c !important;
}
@media (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-nav .nav-item > .nav-link {
    padding: 0px !important;
  }
}
